@import "variables";

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: $header;
    background-image: $header-image;
    h2 {
      margin-top: 0;
      color: $black;
    }
  }

#avatar {
  margin-top: 1em;
  max-height: 5em;
  width: auto;
}