@import "variables";

form {
  display: none;
  margin-bottom: 1em;
}

textarea {
  overflow: hidden;
  width: 100%;
  border-width: 0px;
  background-color: inherit;
}

#tweet-text {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-size: 20px;
  color: #FF0000;
}

.new-tweet h4 {
  margin-top: 1em;
  margin-bottom: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.footer button {
  background-color: #4056A1;
  color: #ffffff;
  font-size: 20px;
  border: 10px solid #4056A1;
  border-radius: .5em;
  outline: none;
}

output.counter.error {
  color: 	#FF0000;
}

.alert {
  display: none;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background-color: $shadow;
  border: 5px solid #FF0000;
  border-radius: .5em;
  color: #FF0000;
  font-size: 1.5em;

}