#tweet {
  display: flex;
  flex-direction: column;
  background-color: $box;
  opacity: 0.8;
  height: 30%;
  border: .1em solid;
  padding: .5em;
  margin: 1em;
}

#tweet {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      max-height: 2em;
      width: auto;
      filter: invert(100%);
      margin-right: .2em;
    }
  }
  h5 {
    display: none;
  }
  // handle, shadow and repost/like etc buttons hidden until user scrolls over tweet.
  &:hover h5 {
    display: block;
  }
  &:hover {
    box-shadow: .5em .5em $shadow;
  }
  .quote {
    display: flex;
    align-items: baseline;
    border-bottom: .1em solid;
    margin-top: 2em;
    // style for handling long/run-on words
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
  footer {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    h6{
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
    button{
      border: none;
      background-color: inherit;
      color: inherit;
      display: none;
    }
  }
  &:hover button {
    display: block;
  }
}
