$nav: #02010A;
$header: #4F518C;
$background: #04052A;
$box: #141052;
$shadow: #4056A1;
$text: #FFFFFF;
$black: #000000;
$alert: #FF0000;
$bg-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
$header-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");