@import "layout";
@import "header";
@import "nav";
@import "new-tweet";
@import "tweets-container";

main {
  width: 90%;
  margin: auto;
  background-color: inherit;
}

@media (max-width: 768px) {
 nav {
   background-color: #d8a74463;
   background-image: url("/images/arches.png");
   height: 80px;
   border: 1px dashed red

 }
 main {
   width: 100%
 }
 .profile {
   margin: 0
 }
 .profile img {
   margin-top: 0;
   border: 1px dashed red
 }
 section {
   width: 90%;
   margin: auto
 }
}

@media (min-width: 769px) and (max-width: 1023px){
 nav {
   background-color: #4056A1;
 }
 main {
   width: 100%
 }
 .profile {
   margin: 0
 }
 section {
   width: 90%;
   margin: auto
 }
}

@media (min-width: 1024px) {
 nav {
   background-color: #4056A1;
 }
 main {
   display: flex;
   flex-direction: row;
 }
 header.profile {
   flex-shrink: 5;
   margin-right: 2em;
 }
 section {
   flex-direction: column;
   margin-top: 120px;
 }
}