@import "layout";
@import "header";
@import "nav";
@import "new-tweet";
@import "tweets-container";
@import "variables";

main {
  width: 90%;
  margin: auto;
  background-color: inherit;
  background-image: inherit;
}

@media (max-width: 768px) {
  nav {
    background-color: $header;
    background-image: $header-image;
    height: 3em;
    font-size: .8em;
  }
  main {
    width: 100%
  }
  .profile {
    padding-top: 0; 
    margin: 0;
    height: 3em;
    br {
      display: none;
    }
    #avatar {
      margin-top: 0;
      max-height: 2em;
      padding-bottom: .2em;
    }
    img {
      filter: invert(100%);
    }
    h2 {
      
      font-size: .5em;  
      filter: invert(100%);
    }
  }
  section {
    width: 90%;
    margin: auto;
    font-size: .7em;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  main {
    width: 100%;
  }
  .profile {
    margin: 0;
  }
  section {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
  }
  header.profile {
    margin-right: 2em;
  }
  section {
    flex-direction: column;
  }
}