@import "layout";
@import "header";
@import "nav";
@import "new-tweet";
@import "tweets-container";
@import "variables";

main {
  width: 90%;
  margin: auto;
  background-color: inherit;
  background-image: inherit;
}

@media (max-width: 768px) {
 nav {
   background: transparent;
   height: 3em;
 }
 main {
   width: 100%
 }
 .profile {
  padding-top: 2.5em; 
  margin: 0;
  img {
    margin-top: 0;
    filter: invert(100%);
   }
  h2 {
    filter: invert(100%);
  }
 }
 section {
   width: 90%;
   margin: auto
 }
}

@media (min-width: 769px) and (max-width: 1023px){
//  nav {
//    background-color: #4056A1;
//  }
 main {
   width: 100%
 }
 .profile {
   margin: 0
 }
 section {
   width: 90%;
   margin: auto
 }
}

@media (min-width: 1024px) {
//  nav {
//    background-color: #4056A1;
//  }
 main {
   display: flex;
   flex-direction: row;
 }
 header.profile {
   flex-shrink: 5;
   margin-right: 2em;
 }
 section {
   flex-direction: column;
   margin-top: 120px;
 }
}