    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-angel:before { content: "\f100"; }
.flaticon-bag-on-head:before { content: "\f101"; }
.flaticon-bionic-eye:before { content: "\f102"; }
.flaticon-boy:before { content: "\f103"; }
.flaticon-boy-1:before { content: "\f104"; }
.flaticon-boy-2:before { content: "\f105"; }
.flaticon-boy-3:before { content: "\f106"; }
.flaticon-boy-4:before { content: "\f107"; }
.flaticon-boy-5:before { content: "\f108"; }
.flaticon-boy-6:before { content: "\f109"; }
.flaticon-boy-7:before { content: "\f10a"; }
.flaticon-cat-mask:before { content: "\f10b"; }
.flaticon-dracula:before { content: "\f10c"; }
.flaticon-frankestein-monster:before { content: "\f10d"; }
.flaticon-girl:before { content: "\f10e"; }
.flaticon-girl-1:before { content: "\f10f"; }
.flaticon-girl-10:before { content: "\f110"; }
.flaticon-girl-11:before { content: "\f111"; }
.flaticon-girl-12:before { content: "\f112"; }
.flaticon-girl-13:before { content: "\f113"; }
.flaticon-girl-14:before { content: "\f114"; }
.flaticon-girl-2:before { content: "\f115"; }
.flaticon-girl-3:before { content: "\f116"; }
.flaticon-girl-4:before { content: "\f117"; }
.flaticon-girl-5:before { content: "\f118"; }
.flaticon-girl-6:before { content: "\f119"; }
.flaticon-girl-7:before { content: "\f11a"; }
.flaticon-girl-8:before { content: "\f11b"; }
.flaticon-girl-9:before { content: "\f11c"; }
.flaticon-girl-with-cat-ears:before { content: "\f11d"; }
.flaticon-hanibal-lecter:before { content: "\f11e"; }
.flaticon-man:before { content: "\f11f"; }
.flaticon-man-1:before { content: "\f120"; }
.flaticon-man-2:before { content: "\f121"; }
.flaticon-man-3:before { content: "\f122"; }
.flaticon-man-4:before { content: "\f123"; }
.flaticon-man-5:before { content: "\f124"; }
.flaticon-man-6:before { content: "\f125"; }
.flaticon-man-7:before { content: "\f126"; }
.flaticon-man-8:before { content: "\f127"; }
.flaticon-mujer:before { content: "\f128"; }
.flaticon-mujer-1:before { content: "\f129"; }
.flaticon-ninja:before { content: "\f12a"; }
.flaticon-nun:before { content: "\f12b"; }
.flaticon-pirate:before { content: "\f12c"; }
.flaticon-superheroe:before { content: "\f12d"; }
.flaticon-walter-white:before { content: "\f12e"; }
.flaticon-woman:before { content: "\f12f"; }
.flaticon-woman-1:before { content: "\f130"; }
.flaticon-woman-2:before { content: "\f131"; }
    
    $font-Flaticon-angel: "\f100";
    $font-Flaticon-bag-on-head: "\f101";
    $font-Flaticon-bionic-eye: "\f102";
    $font-Flaticon-boy: "\f103";
    $font-Flaticon-boy-1: "\f104";
    $font-Flaticon-boy-2: "\f105";
    $font-Flaticon-boy-3: "\f106";
    $font-Flaticon-boy-4: "\f107";
    $font-Flaticon-boy-5: "\f108";
    $font-Flaticon-boy-6: "\f109";
    $font-Flaticon-boy-7: "\f10a";
    $font-Flaticon-cat-mask: "\f10b";
    $font-Flaticon-dracula: "\f10c";
    $font-Flaticon-frankestein-monster: "\f10d";
    $font-Flaticon-girl: "\f10e";
    $font-Flaticon-girl-1: "\f10f";
    $font-Flaticon-girl-10: "\f110";
    $font-Flaticon-girl-11: "\f111";
    $font-Flaticon-girl-12: "\f112";
    $font-Flaticon-girl-13: "\f113";
    $font-Flaticon-girl-14: "\f114";
    $font-Flaticon-girl-2: "\f115";
    $font-Flaticon-girl-3: "\f116";
    $font-Flaticon-girl-4: "\f117";
    $font-Flaticon-girl-5: "\f118";
    $font-Flaticon-girl-6: "\f119";
    $font-Flaticon-girl-7: "\f11a";
    $font-Flaticon-girl-8: "\f11b";
    $font-Flaticon-girl-9: "\f11c";
    $font-Flaticon-girl-with-cat-ears: "\f11d";
    $font-Flaticon-hanibal-lecter: "\f11e";
    $font-Flaticon-man: "\f11f";
    $font-Flaticon-man-1: "\f120";
    $font-Flaticon-man-2: "\f121";
    $font-Flaticon-man-3: "\f122";
    $font-Flaticon-man-4: "\f123";
    $font-Flaticon-man-5: "\f124";
    $font-Flaticon-man-6: "\f125";
    $font-Flaticon-man-7: "\f126";
    $font-Flaticon-man-8: "\f127";
    $font-Flaticon-mujer: "\f128";
    $font-Flaticon-mujer-1: "\f129";
    $font-Flaticon-ninja: "\f12a";
    $font-Flaticon-nun: "\f12b";
    $font-Flaticon-pirate: "\f12c";
    $font-Flaticon-superheroe: "\f12d";
    $font-Flaticon-walter-white: "\f12e";
    $font-Flaticon-woman: "\f12f";
    $font-Flaticon-woman-1: "\f130";
    $font-Flaticon-woman-2: "\f131";