/* Be 120 pixels in height
Be the full width of the viewport.
Have #4056A1 as its default background colour.
Have #FFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  color: #ffffff;
  background-color: #4056A1;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
 }

nav span {
  margin: 1.5em;
}

.title {
  font-family: 'Bungee', cursive;
}

.tweet {
  font-family: 'Source Sans Pro', sans-serif; 
}

