#tweets-container article {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: 5px solid;
  padding: 5px;
  margin: 2px;
  margin-bottom: 1em;

}

#tweets-container.shadow {
  box-shadow: 10px 10px grey;
}

#tweets-container article header {
  height: 20%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

#tweets-container article header img {
  height: 50px
}

#tweets-container article header h5 {
  display: none;
}

#tweets-container article.quote {
  display: flex;
  align-items: baseline;
  border-bottom: 5px solid;
  height: 150%;
}

#tweets-container article footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10%;
}

#tweets-container article footer h6{
  margin-right: auto
}

#tweets-container article footer button{
  border: none;
  background-color: inherit;
  color: inherit;
}