#tweet {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  height: 30%;
  border: 5px solid;
  padding: 10px;
  margin: 2px;
  margin-bottom: 1em;
}


#tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 2em; */
}

/* #tweet img {
  height: 2em;
} */

#tweet h5 {
  display: none;
}

#tweet:hover h5 {
  display: block;
}

#tweet:hover {
  box-shadow: 10px 10px #4056A1;
}

#tweet .quote {
  display: flex;
  align-items: baseline;
  border-bottom: 5px solid;
  /* height: 3em; */
  /* style for handling long/run-on words */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

#tweet footer {
  display: flex;
  justify-content: flex-end;
  /* height: 1em; */
}

#tweet footer h6{
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px
}

#tweet footer button{
  border: none;
  background-color: inherit;
  color: inherit;
}