#tweets-container article {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: 5px solid;
  padding: 5px;
  margin: 2px;
  margin-bottom: 1em;

}


#tweets-container header {
  height: 20%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

#tweets-container img {
  height: 50px
}

#tweet h5 {
  display: none;
}

#tweet:hover h5 {
  display: block;
}

#tweet:hover {
  box-shadow: 10px 10px #4056A1;
}

#tweets-container .quote {
  display: flex;
  align-items: baseline;
  border-bottom: 5px solid;
  height: 150%;

  /* style for handling long/run-on words */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

#tweets-container footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10%;
}

#tweets-container footer h6{
  margin-right: auto
}

#tweets-container footer button{
  border: none;
  background-color: inherit;
  color: inherit;
}